/* Bed Availability Dashboard */
.dashboard {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out;
}

.bed-availability {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.department-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: calc(25% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-out;
}

.department-card h3 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
}

.department-card p {
    font-size: 18px;
    margin: 5px 0;
}

.available {
    color: green;
    font-weight: bold;
}

.department-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .department-card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .department-card {
        width: calc(100% - 20px);
    }
}


/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

/* Header */
header {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

header:hover {
    background: linear-gradient(to right, #0056b3, #003d7a);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin-left: 15px;
    position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

header nav ul li a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

/* Highlighted Login Button */
header nav ul li.login-button a {
    background-color: darkblue;
    font-weight: bold;
}

header nav ul li.login-button a:hover {
    background-color: #007bff;
    color: #fff;
}

.hos_name {
    margin-left: 1vw;
}

/* Hero Section */
.hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('media/img_hero.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
}

.hero h2 {
    font-size: 3em;
    margin: 0;
    animation: fadeInUp 2s ease-out;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
    animation: fadeInUp 2s ease-out 0.5s;
}

.hero .btn {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #0056b3;
    color: #fff;
}

/* About Section */
.about {
    padding: 60px 20px;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out;
}

.about p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 40px;
    animation: fadeInUp 2s ease-out 0.5s;
}

.about-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-cards .card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-out;
}

.about-cards .card img {
    width: 95%;
    border-radius: 5px;
    height: 36vh;
    
}

.about-cards .card h3 {
    margin-top: 10px;
    color: #333333;
    
}

.about-cards .card a {
    
    color: #333333;
    text-decoration: none;
    
}

.about-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Services Section */
.services {
    padding: 60px 20px;
}

.services h2 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-cards .card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: calc(50% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-out;
}

.service-cards .card img {
    width: 100%;
    border-radius: 5px;
    height: 50vh;
}

.service-cards .card h3 {
    margin-top: 10px;
    color: #333333;
}

.service-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Testimonials Section */
.testimonials {
    background-color: #f9f9f9;
    padding: 60px 20px;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out;
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-cards .card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 2s ease-out;
}

.testimonial-cards .card p {
    font-style: italic;
}

.testimonial-cards .card h3 {
    margin-top: 10px;
    color: #007bff;
}

.testimonial-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Contact Section */
.contact {
    padding: 60px 20px;
    background-color: #007bff;
    color: #fff;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out;
}

.contact p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 40px;
    animation: fadeInUp 2s ease-out 0.5s;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info .info {
    margin: 10px;
    text-align: center;
}

.contact-info .info i {
    font-size: 30px;
    margin-bottom: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contact-info .info i:hover {
    color: #ffdd57;
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    header nav ul li a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .about-cards .card, 
    .service-cards .card, 
    .testimonial-cards .card {
        width: calc(100% - 40px);
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .about-cards .card, 
    .service-cards .card, 
    .testimonial-cards .card {
        width: calc(100% - 20px);
    }
}


.card i {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
}

/* Dropdown Menu Styles */
.login-button {
    position: relative;
    margin-right: 1vw;
}

.login-button .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: darkblue;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 150px;
    z-index: 1000;
}

.login-button .dropdown li {
    list-style: none;
    margin: 0;
    
}

.login-button .dropdown li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button .dropdown li a:hover {
    background-color: #007bff;
}

/* Show dropdown on hover */
.login-button:hover .dropdown {
    display: block;
}

/* Hide menu icon on larger screens */
.menu-icon {
    display: none;
    cursor: pointer;
}

/* Media query for screens less than 768px */
@media (max-width: 768px) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        color: #fff;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #0056b3;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .nav-list li a {
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    /* Adjust dropdown for mobile */
    .login-button .dropdown {
        position: static;
        width: 100%;
        box-shadow: none;
        background-color: #0056b3;
    }

    .login-button .dropdown li a {
        padding: 15px 0;
    }
}

/* Media query for screens less than 480px */
@media (max-width: 480px) {
    .nav-list li a {
        font-size: 16px;
    }

    .login-button .dropdown li a {
        font-size: 16px;
    }
}

.live-text {
    font-size: 1rem;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
    animation: blink 1s infinite;
    
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}